<%- include("header") -%>

  <div class="box" id="heading">
    <h1>How To Use </h1>
  </div>

  <div id="use">
    <form class="" action="/" method="get">
      <button type="submit" name="button">Back To List</button>
    </form>
  </div>

  <div class="box">

    <div class="item">
      <p>Hit this to add a new item --<strong>></strong></p>
      <div id="add">
        <button type="" name="list" value=""><i class="fas fa-plus"></i></button>
      </div>
    </div>

    <div class="item">
    <p>Hit this to delete an item --<strong>></strong></p>
    <div id="trash">
    <button type="" name="list" value=""><i class="fas fa-trash fa-1x"></i></button>
  </div>
</div>

<div class="item">
  <p>Select this to prioritize a task --<strong>></strong></p>
  <div id="add">
    <select >
      <option value="">A</option>
      <option value="">B</option>
      <option value="">C</option>
      <option value="">D</option>
      <option value="">E</option>
      <option value="">X</option>
    </select>
  </div>
</div>

<div class="item">
<p><strong>A</strong>= Highest Priority Task.</p>
</div>
<div class="item">
<p><strong>B</strong>= Medium Priority Task.</p>
</div>
<div class="item">
<p><strong>C</strong>= Lowest Priority Task.</p>
</div>
<div class="item">
<p><strong>D</strong>= Delegate Task.</p>
</div>
<div class="item">
<p><strong>E</strong>= Eliminate Task.</p>
</div>
<div class="item">
<p><strong>X</strong>= Completed Task.</p>
</div>


  </div>


<%- include("footer") -%>
