<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
   <script src="https://kit.fontawesome.com/951225a5f9.js" crossorigin="anonymous"></script>

</head>

<body>
