:root {
  --primary-color: #7A0BC0;
  --secondary-color: #E4E9FD;
  --light-color: #fff;
  --dark-color: #333;
}

html {
  background-color: var(--secondary-color);
  background-image: -webkit-linear-gradient(65deg, var(--primary-color) 50%, var(--secondary-color) 50%);
  height: 100vh;
  font-family: 'helvetica neue';
}

h1 {
  color: var(--light-color);
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto 30px;
  background: var(--light-color);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.welcome {
  text-align: center;
}

.welcome p {
  color: var(--primary-color);
  font-weight: bold;
}

#heading {
  background-color: var(--primary-color);
  text-align: center;
}

#use {
  text-align: center;
  justify-content: center;
}

#use button {
  font-size: 30px;
  width: 25rem;
  height: 57px;
  background: var(--primary-color);
  color: var(--light-color);
  font-weight: bold;
  font-family: 'helvetica neue';
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-style: none;
}

.item {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

.item select {
  width: 45px;
  height: 25px;
  border: solid var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
}

/* input:checked+p {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
} */
input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  /* margin-left: 20px; */
}

#trash button,
#add button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 25px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  border-width: 0;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 250px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 var(--primary-color);
}

::placeholder {
  color: grey;
  opacity: 1;
}

.pending {
  font-size: 18px;
  text-align: center;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width:768px) {
  html {
    background-image: -webkit-linear-gradient(35deg, var(--primary-color) 50%, var(--secondary-color) 50%);
  }

  #trash button,
  #add button, {
    min-height: 40px;
    width: 40px;
  }

  #use button {
    width: 22rem;
  }
}
